<html>
    <head>
        <title>Honest Appalachia</title>
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" />
    </head>
    <body>
        <div id="container">
            <div id="contentbox">
                <h1>Honest Appalachia</h1>
                <p>Our mission is promote corporate and government transparency in Appalachia.</p>
                <p><em>Launching soon. Enter your email to receive infrequent updates:</em><p>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <input type="submit" id="submit_email" value="Go" /> -->
                </form>
                <h2>Interested?</h2>
                <p>Follow our blog</p>
                <p>Check us out on Twitter</p>
            </div>
        </div>
    </body>
</html>
